*{
    padding: 0;
    margin: 0;
}
body{
     font-family: "Schibsted Grotesk", sans-serif;
}
.container{
    padding: 50px;

}
.section-one{
    background-color:  rgb(131, 3, 131);
    color: rgb(247, 255, 16);
    padding: 20px;
    border-radius: 10px;
     border:3px solid rgb(244, 152, 24);
}
.section-one__contact{
    background-color: rgba(0, 46, 249, 0.867);
    color: whitesmoke;
    text-decoration: none;
    
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    
}
.section-one__name{
    font-size: 60px;
    font-weight: bold;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    background-color: rgb(11, 8, 59);
    color: wheat;
    padding: 20px;
    border-radius: 10px;
    border:4px solid rgb(170, 255, 0);
}
.section-five__title a{
    color: rgb(200, 255, 196);
}
.section-three li,.section-four li{
    list-style: none;
    margin-bottom: 20px;
}
.section-three{
   background: linear-gradient(135deg, #6462fd, #8f8dff);
    color:black;
    padding: 20px;
    display:inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
     border:1px solid rgb(42, 64, 1);
     
}
.section-four{
    background: linear-gradient(135deg, #fe7517, #ff9e50);
    color:black;
    padding: 20px;
    display:inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
    border:1px solid rgb(42, 64, 1);
}
.contact-form{
    margin-top: 20px;
    font-weight: bold;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
    margin-left: 10px;
    
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    background-color: rgba(0, 46, 249, 0.867);
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}
    